In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'x': [1,2,3,4,5], 'y': [9,8,7,6,5], 'z': [2,4,6,8,10]})

In [3]:
df1

   x  y   z
0  1  9   2
1  2  8   4
2  3  7   6
3  4  6   8
4  5  5  10

In [4]:
df1 = pd.DataFrame({'x': [1,2,3,4,5], 'y': [9,8,7,6,5]})

In [5]:
df1

   x  y
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [19]:
df1.head(0)

Empty DataFrame
Columns: [x, y]
Index: []

In [15]:
df1.head(1)

   x  y
0  1  9

In [16]:
df1.head

<bound method NDFrame.head of    x  y
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5>

In [7]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
len(df1.index)

5

In [20]:
df1.tail

<bound method NDFrame.tail of    x  y
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5>

In [21]:
df1.tail(3)

   x  y
2  3  7
3  4  6
4  5  5

In [10]:
df1.columns

Index(['x', 'y'], dtype='object')

In [13]:
df1['x'].loc[0]

1

In [14]:
df1['x'].iloc[0]

1

In [17]:
df1['x'].iloc[3]

4

In [18]:
df1['x'].iloc[1]

2

In [4]:
df1.to_csv("interactivedata.csv")

Dynamic interactive data visualizations is important when communicating data because it allows people to explore data themselves.